In [1]:
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import re

from sklearn.model_selection import train_test_split
from bertopic import BERTopic
from sklearn.feature_extraction.text import CountVectorizer
from bertopic.vectorizers import ClassTfidfTransformer

from sklearn.preprocessing import OneHotEncoder

In [2]:
os.chdir("/home/ikonkobo/Desktop/Self_Learning/telco_churn/")
from src.data.metadata_analysis import MetadataStats

# Idea Testing

In [3]:
comms_df = pd.read_sas("./data/raw/commsdata.sas7bdat", encoding="utf-8")

In [4]:
comms_df.issue_level2

0                    Equipment Upgrade Fee
1        Equipment Change: Change IMEI/SIM
2                        Process a Payment
3                        Reinstate Account
4                     Payment Arrangements
                       ...
56552                    Equipment Upgrade
56553                 Payment Arrangements
56554                  General Information
56555                         eStore Match
56556                GTE AppCenter Charges
Name: issue_level2, Length: 56557, dtype: object

In [5]:
MetadataStats(comms_df).variable_summarizing("call_category_1")

,Variable Name,Label,Type,Number of missing,Number of categories,Mode
0,call_category_1,call_category_1,Categorical,0,17,Friendly & Courteous

In [6]:
MetadataStats(comms_df).num_metadata_summarizing()

,Variable Name,Label,Type,Number of missing,Number of categories,Mode,Number of distinct values,Minimum,Maximum,Mean,Standard Deviation
0,Customer_ID,Customer_ID,Interval,0,NaN,0 471.0 1 1057.0 2 ...,NaN,471.0,3999922.000,1871721.317,1214487.999
1,upsell_xsell,upsell_xsell,Ordinal,0,NaN,NaN,2.0,0.0,1.000,NaN,NaN
2,churn,churn,Ordinal,0,NaN,NaN,2.0,0.0,1.000,NaN,NaN
3,lifetime_value,lifetime_value,Interval,0,NaN,"0 0.0 Name: lifetime_value, dtype: float64",NaN,-14006.0,60740.200,5281.528,5068.843
4,avg_arpu_3m,avg_arpu_3m,Interval,1120,NaN,"0 51.775 Name: avg_arpu_3m, dtype: float64",NaN,0.0,160.376,60.295,22.877
...,...,...,...,...,...,...,...,...,...,...,...
106,MB_Data_Usg_M07,MB_Data_Usg_M07,Ordinal,0,NaN,NaN,1106.0,0.0,13672.000,NaN,NaN
107,MB_Data_Usg_M08,MB_Data_Usg_M08,Ordinal,0,NaN,NaN,1504.0,0.0,16297.000,NaN,NaN
108,MB_Data_Usg_M09,MB_Data_Usg_M09,Ordinal,897,NaN,NaN,1357.0,0.0,8869.000,NaN,NaN
109,seconds_of_data_norm,seconds_of_data_norm,Interval,0,NaN,"0 0.0 Name: seconds_of_data_norm, dtype: fl...",NaN,-22503.0,73737.000,8608.265,8887.542
110,seconds_of_data_log,seconds_of_data_log,Interval,6154,NaN,"0 0.0 Name: seconds_of_data_log, dtype: flo...",NaN,0.0,11.208,8.452,1.885

In [ ]:
comms_df["avg_arpu_3m"].skew()

In [ ]:
df_ = comms_df["verbatims"].to_frame()
df_["verbatims_process"] = df_["verbatims"].apply(lambda x: x.decode("utf-8"))

In [ ]:
break

In [ ]:
comms_df.shape

In [ ]:
comms_df

In [ ]:
pd.qcut(comms_df["calls_care_ltd"], 4, duplicates='drop').astype(str)

In [ ]:
comms_df.isna().sum().mean()

In [ ]:
l_object_vars = comms_df.select_dtypes(include='object').columns.to_list()
l_object_vars.remove('verbatims')
l_object_vars.remove('resolution')
df_obj = comms_df[["credit_class", "sales_channel"]].apply(lambda x: x.apply(lambda z: z.decode("utf-8")), axis=1)
df_obj

In [ ]:
docs = df_["verbatims_process"].to_list()

In [ ]:
ctfidf_model = ClassTfidfTransformer(reduce_frequent_words=True)
topic_model = BERTopic(ctfidf_model=ctfidf_model)
topics, probs = topic_model.fit_transform(docs)
topic_model.reduce_topics(docs, nr_topics=15)
vectorizer_model = CountVectorizer(stop_words="english")
topic_model.update_topics(docs, n_gram_range=(1, 3), vectorizer_model=vectorizer_model)

In [ ]:
topic_model.get_document_info(docs)

In [ ]:
topic_model.get_topics()[-1]

In [ ]:
"""data = import_from_local(".")
MetaDataManagement(data).metadata_management_pipeline()
st.dataframe(data.head())

st.markdown("# Categorical features processing")


### splitting
X_train, X_valid, y_train, y_valid = train_valid_split(data)
    
## data variable management pipeline
DataManagement(X_train).data_management_pipeline()
DataManagement(X_valid).data_management_pipeline()


# models pipelines
## random forest model
evaluate_rdmf(X_train, X_valid, y_train, y_valid, n_estimators=20)

# model comparaison"""